{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "quoteProps": "as-needed",
  "trailingComma": "es5",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "plugins": [],
  "overrides": [
    {
      "files": ["*.json", "*.yaml", "*.yml", "*.md"],
      "options": {
        "printWidth": 80
      }
    }
  ]
}
